# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Logs
logs/
*.log
logfile
*.csv

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.*  # optional: to ignore .env.development, .env.local, etc.

# OS and IDE related
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Coverage reports
coverage/
.nyc_output/

# Binaries
*.exe
*.out
*.app

# Temporary files
tmp/
temp/
*.tmp

# Database files
*.sqlite
*.db
*.sql

# Test output
test-output/
jest-html-reporters-*
